<li>
  <span class="label" data-id="{{id}}" data-newburger="{{devoured}}"><strong>ID:</strong></span> {{this.id}}
  <span class="label" data-id="{{id}}" data-newburger="{{devoured}}"><strong>Burger:</strong></span> {{this.name}}
</li>